*.py[co]
.DS_store
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# LaTeX cruft
*.aux
*.toc
*.log
*.vrb
*.out



#Mr Developer
.mr.developer.cfg
/Documents
*.gz
*.fdb_latexmk
*.fls
*.snm
*.nav
